.primary-red.btn {
  background-color: #FF4A4A!important;
  padding: 9px!important;
  font-size: 18px;
  line-height: 27px;
  outline: none;
  border: 0 solid #fff!important;
  box-shadow: none!important;
  &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
}
