$breakPoints: (
        xs: (start: null, end: '576'),
        sm: (start: '576', end: '768px'),
        md: (start: '768px', end: '992px'),
        lg:(start: '992px', end: '1200px'),
        xl:(start: '1200px', end: '1600px'),
        xxl: (start: '1600px', end: null),

        mobile: (start: null, end: '599px'),
        smallTablet: (start: null, end: '769px'),
        tablet: (start: null, end: '1024px'),
        desktop: (start: '1024px', end: null),
);

@mixin media($breakpoint) {
  $value: map-get($breakPoints, $breakpoint);
  @if $value != null {
    $start: map-get($value, start);
    $end: map-get($value, end);

    @if $start == null {
      @media (max-width: $end) {
        @content;
      }
    } @else if $end == null {
      @media (min-width: $start) {
        @content;
      }
    } @else {
      @media (min-width: $start) and (max-width: $end) {
        @content;
      }
    }
  } @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}

$breakPoints-up: (
        sm: (start: '576'),
        md: (start: '768px'),
        lg:(start: '992px'),
        xl:(start: '1200px'),
        xxl: (start: '1600px'),
);

@mixin media-up($breakpoint-up) {
  $value: map-get($breakPoints-up, $breakpoint-up);
  @if $value != null {
    $start: map-get($value, start);
    @media (min-width: $start) {
      @content;
    }
  }
}

$breakPoints-down: (
        xs: (end: '575.98px'),
        sm: (end: '767.98px'),
        md: (end: '991.98px'),
        lg: (end: '1199.98px')
);

@mixin media-down($breakpoint-down) {
  $value: map-get($breakPoints-down, $breakpoint-down);
  @if $value != null {
    $end: map-get($value, end);
    @media (max-width: $end) {
      @content;
    }
  }
}



