.navigation-bar {
  background-color: #fff;
  height: 115px;
}
#responsive-navbar-nav {
  width: 100%;
  a {
    color: #353535;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  img {
    height: 82px;
    width: 313px;
    left: 804px;
    top: 17px;
    border-radius: 0px;
  }
}
